<%= form_for @shir, :html => { :multipart => true } do |f| %>
	<% if @shir.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@shir.errors.count, "error") %> prohibited this shir from being saved:</h2>

		<ul>
			<% @shir.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<%if user_signed_in?%>
	<div class="field">
		<%= f.number_field :user_id, :value => current_user.id %>
	</div>
	<%end%>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :category_id %><br />	
		<!-- <%= f.number_field :category_id %>-->
		<select name='shir[category_id]'>
			<option value="">Choose a category</option>
			<%@categories.each do |c|%>
			<option value="<%=c.id%>"><%=c.title%></option>
			<%end%>
		</select>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :instruction %><br />
		<%= f.text_area :instruction %>
	</div>
	<div class="field">
		<%= f.label :tag_list %><br />
		<%= f.text_field :tag_list %>
	</div>
	<div class="field">
		<%= f.label :days_to_complete %><br />
		<%= f.number_field :days_to_complete %>
	</div>
	<div class="field">
		<%= f.label :shipping_required %><br />
		<%= f.check_box :shipping_required %>
	</div>
	<div class="field">
		<%= f.label :shipping_id %><br />
		<%= f.number_field :shipping_id %>
	</div>
	<div class="field">
		<%= f.label :photo %><br />
		<%= f.file_field :photo%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
