<div id="shir" class="wrap">

	<div class="colLeft">
		<h1><%= @shir.title %></h1>
		<%unless @shir.photo_file_name.nil?%>
		<%= image_tag @shir.photo.url(:medium), :alt => @shir.title, :class=> "mainImg" %>
		<%else%>
		<%= image_tag("test/shirMainImg.jpg", :alt => @shir.title, :class=> "mainImg") %>
		<%end%>
		<p><%= @shir.description %></p>
		
		<h3>Instructions</h3>
		
		<p><%= @shir.instruction %></p>
	</div> <!-- colLeft -->

	<div class="colMiddle">

			<div class="orderMain">
				<h2>buy this</h2>
			</div> <!-- orderMain -->
			
			<a id="askQuestion" href="">Ask the seller a question</a>
			
			<div id="feedback">
				<h4>Latest Buyer Feedback</h4>
				
				<div class="feedbackList">
					<ul>
						<li>
							<%= image_tag("test/feedbackImg.jpg", :alt => "username", :class=> "left") %>
							<div class="right"><a href="">Gengis Khan</a> <div class="smaller">posted this 1 day ago</div></div>
							<div class="clear"></div>
							<p>excellent work on time, i recommend to everyone try, must encourage arjunrocks to climb greater heights</p>
						</li>
					
						<li>
							<%= image_tag("test/feedbackImg.jpg", :alt => "username", :class=> "left") %>
							<div class="right"><a href="">Mark Zuckerberg</a> <div class="smaller">posted this 1 day ago</div></div>
							<div class="clear"></div>
							<p>You did an amazing job! Thanks so much for your time, Ill let you know how my coworker reacts :)</p>
						</li>
					
						<li>
							<%= image_tag("test/feedbackImg.jpg", :alt => "username", :class=> "left") %>
							<div class="right"><a href="">Sean Kingston</a> <div class="smaller">posted this 1 day ago</div></div>
							<div class="clear"></div>
							<p>Fantastic!!!!! It was very good! I see why you are a top-seller!</p>
						</li>
					</ul>
				</div> <!-- feedbackList -->
				<p class="center"><span class="up"><%= image_tag("up.png", :alt => "Up") %></span> <span class="down"><%= image_tag("down.png", :alt => "Down") %></span></p>
			</div> <!-- feedback -->
			
	</div> <!-- colMiddle -->

	<div class="colRight">

		<div id="share">
		<span class='st_sina_button' displayText='Sina'></span><span class='st_twitter_button' displayText='Tweet'></span><span class='st_email_button' displayText='Email'></span><span  class='st_facebook_button' displayText='Facebook'></span>
		</div> <!-- share -->

		<div class="shirWrap">

			<div id="productMisc">

				<div class="pRowThick">
					<h4>About this Shi'r</h4>
					  <%= link_to 'Edit Shir', edit_shir_path(@shir), :class=>"small", :id=>"editShir" %>
					<span class="clear"></span>
				</div>

				<div class="pRow">
					<div class="c444 left">Shi'r Rating</div>
					<div class="right"> 
						
					</div>
					<div class="clear"></div>
				</div>

				<div class="pRow">
					<div class="c444 left">Delivery Time</div>
					<%if @shir.days_to_complete.to_i%>
					<div class="right"><%= @shir.days_to_complete %> days</div>
					<%else%>
					<div class="right"><%= @shir.days_to_complete %> day</div>
					<%end%>
					<div class="clear"></div>
				</div>

				<div class="pRow">
					<div class="c444 left">Orders in Queue</div>
					<div class="right">0</div>
					<div class="clear"></div>
				</div>

				<div class="pRowThick bold">
					<div class="left">Seller : </div>
					<div class="right"></div>
					<div class="clear"></div>
				</div>

				<div class="pRow">
					<div class="left">
						<%= link_to @user.username, @shir.user %>
					</div>
					<div class="right">
					<%unless @user.city.nil?%>
					<%=@user.city%>
					,
					<%end%>
					<%unless @user.country.nil?%>
					<%=@user.country%>
						<%if !@user.city.empty?%>
					
						<%end%>
					
					<%end%>
					</div>
					<div class="clear"></div>
				</div>

				<div class="pRow">
					<div class="c444 left">Created this Shir</div>
				<div class="right"><%=@since%> ago</div>
					<div class="clear"></div>
				</div>

				<div class="pRowThick bold">
					<div class="left">Categories : </div>
					
					<div class="right"></div>
					<div class="clear"></div>
				</div>

				
				<div class="pRow">
					<div class="left">
						<%unless @shir.category.nil?%>
						<%= link_to @shir.category.title, category_path(@shir.category) %>
						<%end%>
					</div>
					<div class="right">-</div>
					<div class="clear"></div>
				</div>

				<div class="pRowThick bold">
					<div class="left">Tagged as : </div>
					<div class="right"></div>
					<div class="clear"></div>
				</div>
						
				<div id="taggedAs">
					<% @shir.tags.each do |t|%>
					<a href=""><%=t.name%></a>
    			<%end%>
					<span class="clear"></span>
				</div>
        
				<div class="clear"></div>
				
        </div> <!-- shirWrap -->
			</div> <!-- productMisc -->

	</div> <!-- colRight -->

	<div class="clear"></div>
	
</div> <!-- wrap -->
	
	<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'b82ba7ef-2c97-481b-b8cb-3977c069518d'});</script>
