<% unless user_signed_in?%>

   <li>
			<span id="loginButton">log in</span>
				<div id="loginBox">
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
						 
						  <%= f.email_field :email, :placeholder => "Email Address", :id => "user_email" %>
						  <%= f.password_field :password, :placeholder => "Password" %>
              
              <span id="forgotPswd">
						  <% if devise_mapping.rememberable? %>
						    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
						  <% end -%>
						  </span>
						  
              <%= f.submit "Sign in", :class=>"right" %>
						<% end %>
						<span class="clear"></span>
				</div> <!-- loginBox -->
		</li>
  
   <li>
     <%= link_to 'Join', new_user_registration_path, :class => "signUp" %>
     </li>
  <%end%>
  
  