<div class="default wrap" id="sendMessage">

  <div class="colLeft">
 
  <h2>Send <%=@message_to%> a message</h2>
    
  <%= form_for :message, :url => {:controller => "sent", :action => "create"} do |f| %>
 
   
	<%= f.text_field :to, :type => 'hidden', :value => User.find(params[:user_id]).id %>
   <%= f.text_field :from, :type => 'hidden', :value => "" %>
  <p>
  	<label>Subject</label><br>
  	<%= f.text_field :subject, :value => @title%>
  </p>
  
  <p>
  	<label>Your message</label><br>
  	<%= f.text_area :body%>
  </p>

  </div> <!-- colLeft -->
  
  <div class="colMiddle">
    
    <%= submit_tag "Send"%>
    <%end%>
    
    <div id="colMiddleUl">
      <%= link_to 'Back', :back %>
    </div> <!-- colMiddleUl -->
    
  </div> <!-- colMiddle -->
  
  <div class="colRight">
	<%if params[:id]%>
	<%=@previous_message.subject%><br />
	<%=@previous_message.body%>
	<%end%>
  </div> <!-- colRight -->

</div> <!-- wrap -->

