
<%= form_for :message, :url => {:controller => "sent", :action => "create"} do |f| %>

<p>
	Subject:<%= f.text_field :subject %>
</p>
<p>
	Body: <%= f.text_area :body%>
</p>
<p>
	<%= submit_tag "Send"%>
</p>
<%end%>
<%=@receiver%>