
<%= form_for :message, :url => {:controller => "sent", :action => "create"} do |f| %>
To:
<select name="message[to][]">
	<%= options_from_collection_for_select(User.all, :id, :username, @message.to)%>
</select>
<p>
	Subject:<%= f.text_field :subject %>
</p>
<p>
	Body: <%= f.text_area :body%>
</p>
<p>
	<%= submit_tag "Send"%>
</p>
<%end%>