<%= image_tag @photo, :alt =>"#{@username}'s profile picture", :id => "profilePic"%>
<h1 class="capitalize left"><%= @username %></h1>

<br class="clear">

<div class="profileDetails">
	<ul>
		<li>
			<div class="left">User</div> <!-- left --> 
			<div class="capitalize" class="right"><%= @user.username %></div> <!-- right -->
			<div class="clear"></div>
		</li>

		<li>
			<div class="left">Location</div> <!-- left --> 
			<div class="right">
				<%=city @user.city, @user.country%>
				<%=country @user.country%>
			</div> <!-- right -->
			<div class="clear"></div>
		</li>

		<li>
			<div class="left">Website</div> <!-- left --> 
			<div class="right"><a href="http://<%=@website%>" target="_blank"><%=@website%></a></div> <!-- right -->
			<div class="clear"></div>
		</li>

		<li>
			<div class="left">Member Since</div> <!-- left --> 
			<div class="right">
				<%=@user_created_at.strftime('%d %b %Y')%>
			</div> <!-- right -->
			<div class="clear"></div>
		</li>

	</ul>
	<p class="c888">Introduction</p>
	<p><%=@introduction%></p>
bought: <%@bought.each do |b|%><%=link_to b.shir.title, shirs_user_path(b.shir.user.username, b.shir)%>,<%end%><br />
sold: <%@sold.each do |s|%><%=s.shir.title%><%end%>
</div>
