<%if user_signed_in?%>
<%if own_by? @user%>
<% if can? :create, Shir%>
<div class="orderMain">
	<%= link_to 'Add New Shir', new_shir_path%>
</div> <!-- orderMain -->
<%end%>
<div id="colMiddleUl">
	<%=link_to 'View Messages', inbox_path %>
	<%=link_to 'Edit Account Settings', edit_user_registration_path %>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>
<%else%>
<div class="orderMain">
	<%= link_to 'Message User', new_user_sent_path(@user) %>
</div> <!-- orderMain -->
<%end%>
<%else%>
<div class="orderMain">
	<%= link_to 'Message User', new_user_registration_path %>
</div> 
<%end%>

<div class="clear"><br></div>