<div class="userWrap">
	<h2><%= @user.username %>'s
		<%=format_shir%>

		<div class="activityEntry">
			<ul>

				<% @shirs.each do |s| %>
				<li>
					<%unless s.photo_file_name.nil?%>
					<%= image_tag s.photo.url(:thumb), :alt =>"#{s.title}", :id => "profilePic"%>
					<%else%>
					<%= image_tag("test/latestImg1.jpg", :alt => "Post Photo") %>
					<%end%>
					<div class="activityEntryDesc">
						<p class="small"><%= s.created_at.strftime('%d %b %Y')%></p>
						<h4><%=link_to s.title, shirs_user_path(@user, s) %></h4>
					</div> <!-- activityEntryDesc -->
					<div class="clear"></div>
				</li>
				<% end %>
			</ul>
		</div> <!-- activityEntry -->
		<%unless @shirs.count < 4%>
		<p class="center">
			<span class="up">
				<%= image_tag("up.png", :alt => "Up") %>
			</span> 
			<span class="down">
				<%= image_tag("down.png", :alt => "Down") %>
			</span>
		</p>
		<%end%>

	</div> <!-- userWrap -->