<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Photo:</b>
  <%= @user.photo %>
</p>

<p>
  <b>User type:</b>
  <%= @user.user_type_id %>
</p>

<p>
  <b>Order:</b>
  <%= @user.order_id %>
</p>
<%=@shirs.count%> Shir<br />
<%if !@shirs.empty?%>
<%@shirs.each do |s|%>
<%= s.title%>
<%end%>
<%end%>


