<div class="homeRibbonWrap" id="leftRibbon">
	
	<div class="ribbonFront">
	  <span>Featured Shirs</span>
	</div> <!-- #leftRibbon .ribbonFront -->
	
	<div class="ribbonEdge ribbonEdgeLeft"></div>
	<div class="ribbonEdge ribbonEdgeRight"></div>
	
</div> <!-- leftRibbon -->

<div class="clear"></div>

<%@featured_shir.each do |f|%>
<div class="homeShir">

	<%= image_tag(f.photo.url(:small), :alt => f.title) %>
	
	<div class="desc">
		<p class="small">For 20 kuai, <%=link_to f.user.username, username_path(f.user.username.downcase)%> will..</p>
		<h4><%=link_to f.title, f%></h4>
		<p class="shortDesc"><%=clean_split f.description, 100%></p>
	</div> <!-- desc -->
	
</div> <!-- homeShir -->

<%end%>

<!-- WHATS THIS? 
<div id='lastFeatured'></div> -->

<%@recent_shir.order('created_at DESC').each do |f|%>
<div class="homeShir">
	<%= image_tag(f.photo.url(:small), :alt => f.title) %>
	
	<div class="desc">
		<p class="small">For 20 kuai, <%=link_to f.user.username, username_path(f.user.username.downcase)%> will..</p>
		<h4><%=link_to f.title, f%></h4>
		<p class="shortDesc"><%=clean_split f.description, 100%></p>
	</div> <!-- desc -->
	
</div> <!-- homeShir -->

<%end%>

<!-- WHAT'S THIS!? 
<div id='lastFeatured1'></div> -->
