<%title "#{@users.count} Users #{@shirs_all.count} Shirs"%>
<div class="wrap">
	<div id="homeFeatured" class="homeCol">
		<h2>Featured Shir</h2>
		
		<div class="homeShir">
			<%= image_tag("test/featuredImg1.jpg", :alt => "title of shir") %>
			<div class="desc">
				<p class="small">For 20 kuai, <a href="user.html">Santa Claus</a> will..</p>
				<h4><a href="shir.html">Wipe your ass for you</a></h4>
				<p class="shortDesc">i am trying to limit the title to just a few characters maybe a bit more here cool</p>
			</div> <!-- desc -->
		</div> <!-- homeShir -->
		
		<div class="homeShir"> 
			<%= image_tag("test/featuredImg1.jpg", :alt => "title of shir") %>
			<div class="desc">
				<p class="small">For 20 kuai, <a href="">Santa Claus</a> will..</p>
				<h4><a href="">i am trying to limit the title to just a few characters maybe a bit more here cool</a></h4>
				<p class="shortDesc">For a one time fee only, Santa has offered to wipe your ass for the 5 days leading up to Christmas.</p>
			</div> <!-- desc -->
		</div> <!-- homeShir -->
		
		<div class="homeShir"> 
			<%= image_tag("test/featuredImg1.jpg", :alt => "title of shir") %>
			<div class="desc">
				<p class="small">For 20 kuai, <a href="">Santa Claus</a> will..</p>
				<h4><a href="">i am trying to limit the title to just a few characters maybe a bit more here cool</a></h4>
				<p class="shortDesc">For a one time fee only, Santa has offered to wipe your ass for the 5 days leading up to Christmas.</p>
			</div> <!-- desc -->
		</div> <!-- homeShir -->
	
	</div>
	<div id="homeCat" class="homeCol">
		
		<div class="homeCatUl">
		  <% @categories.each do |c| %>
		  <%= link_to c.title, c %>
			<% end %>
		</div> <!-- categories -->
		
		<div id="homeFeaturedOrgs">
			<h2>Featured Sellers</h2>
			
			<div class="homeFeaturedOrg"></div>
			<div class="homeFeaturedOrg"></div>
			<div class="homeFeaturedOrg"></div>
			<div class="homeFeaturedOrg"></div>
			
		</div> <!-- homeFeaturedOrgs -->
							
	</div> <!-- homeCat -->
	
	<div id="homeLatest" class="homeCol">
		<h2>Newest Shir</h2>
		<%unless @shirs.nil?%>
		<% @shirs.each do |s| %>
		<div class="homeShirLatest">
			<%unless s.photo_file_name.nil?%>
			<%= image_tag s.photo.url(:thumb) %>
			<%else%>
			<%= image_tag("test/latestImg1.jpg", :alt => "title of shir") %>
			<%end%>
			<div class="homeLatestDesc">
				<p class="small">For 20 kuai, <%= link_to s.user.username, username_path(s.user) %> will..</p>
				<h4><%= link_to s.title.capitalize, user_shir_path(s.user.username, s) %></h4>
			</div> <!-- homeLatestDesc -->
		</div> <!-- homeShirLatest -->
	  <%end%>
	<%end%>
	  
		</div>
	</div>
	<div class="clear"></div>
</div> <!-- wrap -->