<%= form_for(@order) do |f| %>
 

  <div class="field">
    <%= f.label :shir_id %><br />
    <%= f.number_field :shir_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :order_status_id %><br />
    <%= f.number_field :order_status_id %>
  </div>
  <div class="field">
    <%= f.label :buyer_feedback_id %><br />
    <%= f.number_field :buyer_feedback_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
