<p id="notice"><%= notice %></p>

<%unless @category.shirs.nil?%>
<%@category.shirs.each do |c|%>
title<%=link_to c.title, user_shir_path(c.user, c)%><br />
picture<%= image_tag c.photo(:thumb)%><br />
user<%=link_to c.user.username, "/#{c.user.username.downcase}"%><br />
<hr />
<%end%>
<%end%><br />

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
