<%if user_signed_in?%>
	<%if current_user.debug == true%>
	<div class='clear'></div>
	<div class=debug>
		New Email? => <%=message_received%><br />
		Controller =><%= controller_name%><br />
		Action =><%=action_name%><br />
		Today => <%= Time.now.to_i%><br/>
		<%if user_signed_in?%>
			Username =><%=current_user.username%><br />
			id =><%=current_user.id%><br />
			Last Message sent's subject =><%=Message.last.subject%><br/>
			To => <%=MessageCopy.last.folder.user.username%><br />
			Type =>
			<%i = 0%>
				<%current_user.roles.each do |t|%>
					<%=t.name%>
					<%i+=1%>
						<%unless i == current_user.roles.count %>
						,
						<%end%>
				<%end%>
		<%end%>
	</div>
	<%end%>
<%end%>

