<!DOCTYPE html>
<html>
<head>
  <title>Tenkuai</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul class="hmenu">
	  <%= render 'devise/menu/logged_in' %>
	  <%= render 'devise/menu/logged_out' %>
	<li><%=link_to 'Categories', categories_path%></li>
	<li><%=link_to "Shirs", shirs_path %></li>
	<li><%=link_to "Roles", roles_path %></li>
	</ul>
	<% if flash[:warning] or flash[:notice] %>
	  <div id="notice" class="center<% if flash[:warning] %>warning<% end %>">
	    <%= flash[:warning] || flash[:notice] %>
	  </div>
	  
	<% end %>
<%= yield %>
<script type="text/javascript">
    setTimeout('$("#notice").fadeOut(1000);', 4000)
  </script>
<div class=debug>
Controller =><%= controller_name%><br />
Action =><%=action_name%><br />
<%if user_signed_in?%>
Username =><%=current_user.username%><br />
id =><%=current_user.id%><br />
<%current_user.roles.each do |t|%>
Type =><%=t.name%>
<%end%>
<%end%>
</div>
</body>
</html>
